<h1> All about <%= donut.name %></h1>

<img src="<%= donut.image %>" alt="donut">

<p>Type:<%= donut.type %></p>
<p>Frosting:<%= donut.frosting %></p>
<p>Description:<%= donut.description %></p>

<h2>Where can this be eaten?</h2>

<h3>
    <a href="/shops/<%= donut.shop.id %>">
        <%= donut.shop.name %>
    </a>
</h3>
<p> <%= donut.shop.description %></p>