<h1><%= shop.name %></h1>

<div class="row">
    <div class="col s4">
        <img alt="shop pic" class="responsive-img" src="<%= shop.image %>">
    </div>
    <div class="col s8">
        <p><strong>Speciality:</strong> <%= shop.speciality %></p>
        <p><%= shop.description %></p>
    </div>
</div>

<hr />
<h2>Donut Selection</h2>
<% shop.donuts.forEach(d => { %>
    <%= d.name %>
    <img src="<%= d.image %>">
<% }) %>

<hr />
<h2> Add a Donut</h2>

<form action="/donuts" method="POST">
    Name: <input name="name">
    Type: <input name="type">
    Frosting: <input name="frosting">
    Description: <input name="description">
    Image: <input name="image">
    <input type="hidden" name="shopId" value="<%= shop.id %>">
    <input type="submit">
</form>